.bz-primary-btn-color {
    background-color: #E76F51!important;
}
.bz-header-bg-color {
    background: #264653;
}
.bz-bg-image {
    background-image: url('https://w0.peakpx.com/wallpaper/535/671/HD-wallpaper-mbike-green-neon-bike-dark-light-motor-motorbike.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}